# Stock Price Perdiction Model

In [59]:
import pandas as pd
import yfinance as yf
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [60]:
### show pakages vision 
print("Yahoo Fianance lib : ", yf.__version__)
print("Panadas : ", pd.__version__)

Yahoo Fianance lib :  0.1.63
Panadas :  1.3.5

In [61]:
stock_symbol = "GOOGL"
start_date = "2022-01-01"
end_date = "2023-01-01"
# Download historical stock data
data = yf.download(stock_symbol, start="2022-01-01", end="2023-01-01")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,145.054993,145.850998,143.712997,144.991501,144.991501,28646000
2022-01-04,145.395996,146.485001,143.716507,144.399506,144.399506,28400000
2022-01-05,144.419998,144.499496,137.688004,137.774994,137.774994,54618000
2022-01-06,136.998505,139.940002,136.558502,137.747498,137.747498,37348000
2022-01-07,138.145493,138.448502,135.766495,137.016998,137.016998,29760000
...,...,...,...,...,...,...
2022-12-23,87.110001,89.550003,87.070000,89.230003,89.230003,23003000
2022-12-27,88.800003,88.940002,87.010002,87.389999,87.389999,20097300
2022-12-28,86.980003,88.040001,85.940002,86.019997,86.019997,19523200
2022-12-29,86.620003,88.849998,86.610001,88.449997,88.449997,23333500
2022-12-30,86.980003,88.300003,86.570000,88.230003,88.230003,23986300

In [62]:
print(data.isnull().sum())

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [63]:
# Calculate daily returns using the closing prices
data["Daily_Return"] = data["Close"].pct_change()
data

,Open,High,Low,Close,Adj Close,Volume,Daily_Return
Date,,,,,,,
2022-01-03,145.054993,145.850998,143.712997,144.991501,144.991501,28646000,NaN
2022-01-04,145.395996,146.485001,143.716507,144.399506,144.399506,28400000,-0.004083
2022-01-05,144.419998,144.499496,137.688004,137.774994,137.774994,54618000,-0.045876
2022-01-06,136.998505,139.940002,136.558502,137.747498,137.747498,37348000,-0.000200
2022-01-07,138.145493,138.448502,135.766495,137.016998,137.016998,29760000,-0.005303
...,...,...,...,...,...,...,...
2022-12-23,87.110001,89.550003,87.070000,89.230003,89.230003,23003000,0.016750
2022-12-27,88.800003,88.940002,87.010002,87.389999,87.389999,20097300,-0.020621
2022-12-28,86.980003,88.040001,85.940002,86.019997,86.019997,19523200,-0.015677
2022-12-29,86.620003,88.849998,86.610001,88.449997,88.449997,23333500,0.028249
2022-12-30,86.980003,88.300003,86.570000,88.230003,88.230003,23986300,-0.002487

In [64]:
# Calculate moving averages as additional features
data["MA_10"] = data["Close"].rolling(window=10).mean()
data["MA_50"] = data["Close"].rolling(window=50).mean()
data[10:70]

,Open,High,Low,Close,Adj Close,Volume,Daily_Return,MA_10,MA_50
Date,,,,,,,,,
2022-01-18,136.175003,137.131500,135.438507,135.998001,135.998001,34872000,-0.024968,139.084048,NaN
2022-01-19,136.523499,137.959503,135.015503,135.116501,135.116501,28648000,-0.006482,138.155748,NaN
2022-01-20,136.250000,137.626007,132.964493,133.307495,133.307495,29908000,-0.013388,137.708998,NaN
2022-01-21,132.593506,134.865494,130.086502,130.351501,130.351501,55652000,-0.022174,136.969398,NaN
2022-01-24,125.977997,131.203003,124.500000,130.804001,130.804001,76622000,0.003471,136.348099,NaN
2022-01-25,128.740005,129.399002,126.500504,126.934998,126.934998,46960000,-0.029579,135.174649,NaN
2022-01-26,131.119003,133.000000,127.141998,129.233002,129.233002,49130000,0.018104,134.124350,NaN
2022-01-27,131.304001,132.652496,128.932495,129.005005,129.005005,31950000,-0.001764,132.881801,NaN
2022-01-28,129.658997,133.356506,128.485001,133.350998,133.350998,34362000,0.033689,132.358200,NaN
2022-01-31,134.162003,135.473007,132.209503,135.303497,135.303497,39986000,0.014642,131.940500,NaN
2022-02-01,137.594498,137.792999,134.368500,137.643997,137.643997,68644000,0.017298,132.105099,NaN
2022-02-02,151.250000,151.546494,145.522507,148.000000,148.000000,123200000,0.075238,133.393449,NaN
2022-02-03,145.705505,149.675003,142.665497,143.089996,143.089996,71518000,-0.033176,134.371700,NaN
2022-02-04,143.444504,144.875000,140.514999,143.292999,143.292999,57998000,0.001419,135.665849,NaN
2022-02-07,144.250000,144.250000,138.899994,139.201004,139.201004,54974000,-0.028557,136.505550,NaN
2022-02-08,139.026505,140.000000,137.014008,139.399002,139.399002,54284000,0.001422,137.751950,NaN
2022-02-09,140.963501,142.524506,140.186996,141.591995,141.591995,40144000,0.015732,138.987849,NaN
2022-02-10,139.703506,141.484497,137.957001,138.619995,138.619995,39330000,-0.020990,139.949348,NaN
2022-02-11,138.600006,139.156494,133.399994,134.282501,134.282501,39958000,-0.031291,140.042499,NaN
2022-02-14,133.256500,136.300003,133.256500,135.526001,135.526001,34302000,0.009260,140.064749,NaN
2022-02-15,137.570496,138.108505,135.821503,136.608505,136.608505,26680000,0.007987,139.961200,NaN
2022-02-16,136.646500,138.085999,134.923996,137.738007,137.738007,25022000,0.008268,138.935001,NaN
2022-02-17,136.242996,137.113495,132.478500,132.539001,132.539001,38950000,-0.037746,137.879901,NaN
2022-02-18,133.466995,134.070007,130.196503,130.403000,130.403000,45620000,-0.016116,136.590901,NaN
2022-02-22,129.837997,132.180496,128.223495,129.813507,129.813507,44990000,-0.004521,135.652151,NaN
2022-02-23,131.648499,132.050995,127.527496,127.587997,127.587997,32786000,-0.017144,134.471051,NaN
2022-02-24,124.953499,133.000000,124.953499,132.690994,132.690994,54456000,0.039996,133.580951,NaN
2022-02-25,133.552002,135.271500,131.751495,134.459503,134.459503,36406000,0.013328,133.164902,NaN
2022-02-28,133.050003,135.751495,132.592499,135.057007,135.057007,38864000,0.004444,133.242352,NaN
2022-03-01,134.878494,136.255493,133.218506,134.061493,134.061493,26496000,-0.007371,133.095901,NaN
2022-03-02,134.628006,135.262497,133.071503,134.571503,134.571503,23520000,0.003804,132.892201,NaN
2022-03-03,136.009995,136.439499,133.025497,133.899506,133.899506,24604000,-0.004994,132.508351,NaN
2022-03-04,132.927505,133.851501,130.337494,131.906494,131.906494,30430000,-0.014884,132.445100,NaN
2022-03-07,131.488007,131.735001,126.294998,126.378502,126.378502,45112000,-0.041908,132.042651,NaN
2022-03-08,126.250000,131.250000,125.674500,127.104500,127.104500,40428000,0.005745,131.771750,NaN
2022-03-09,131.250000,133.735504,129.900497,133.419998,133.419998,37026000,0.049687,132.354950,NaN
2022-03-10,131.266006,133.272003,130.912506,132.429504,132.429504,27102000,-0.007424,132.328801,NaN
2022-03-11,133.488495,133.795502,129.631500,129.870499,129.870499,31526000,-0.019324,131.869901,NaN
2022-03-14,130.250000,130.408997,125.275002,125.950996,125.950996,38812000,-0.030180,130.959299,NaN
2022-03-15,126.975998,129.854507,125.720497,129.197998,129.197998,30920000,0.025780,130.472950,135.111500
2022-03-16,130.733002,133.332993,128.734497,133.280502,133.280502,35576000,0.031599,130.343850,134.877280
2022-03-17,133.149002,134.080505,132.184998,133.839005,133.839005,28264000,0.004190,130.337800,134.666070
2022-03-18,133.424500,136.244003,132.258499,136.125504,136.125504,44566000,0.017084,130.759701,134.633080
2022-03-21,136.163498,137.050003,134.092499,136.101501,136.101501,26832000,-0.000176,131.732001,134.600160
2022-03-22,136.101501,141.050003,136.101501,139.867996,139.867996,35496000,0.027674,133.008350,134.657180
2022-03-23,138.702499,139.588501,137.835007,138.275497,138.275497,25154000,-0.011386,133.493900,134.649300
2022-03-24,139.199997,141.619003,137.750504,141.572006,141.572006,26396000,0.023840,134.408150,134.686020
2022-03-25,141.916000,142.035004,139.737503,141.673004,141.673004,24126000,0.000713,135.588401,134.690871
2022-03-28,140.900497,142.002502,139.811493,141.455505,141.455505,35050000,-0.001535,137.138852,134.748241
2022-03-29,142.647507,143.793503,142.038498,142.505493,142.505493,34318000,0.007423,138.469601,134.808740
2022-03-30,142.460007,142.720505,141.600006,141.938507,141.938507,19884000,-0.003979,139.335402,134.927551
2022-03-31,142.052994,142.108002,139.024506,139.067505,139.067505,37524000,-0.020227,139.858252,135.006571
2022-04-01,139.500000,140.470993,138.307495,140.150497,140.150497,25942000,0.007788,140.260751,135.143431
2022-04-04,140.358505,143.712006,140.310501,142.971497,142.971497,25942000,0.020128,140.947751,135.395831
2022-04-05,142.869003,142.990494,140.382507,140.591003,140.591003,21418000,-0.016650,141.020052,135.591571
2022-04-06,138.750000,139.360504,135.516998,136.548004,136.548004,32468000,-0.028757,140.847302,135.783831
2022-04-07,136.009995,137.164505,134.227493,135.888504,135.888504,26234000,-0.004830,140.278952,135.916941
2022-04-08,135.583496,135.669998,132.965500,133.287506,133.287506,25142000,-0.019141,139.440402,136.002591
2022-04-11,131.823502,132.092499,128.668503,128.823502,128.823502,36884000,-0.033492,138.177202,135.912041
2022-04-12,131.600006,131.600006,126.789001,127.714500,127.714500,32710000,-0.008609,136.698103,135.760261

In [65]:

def calculate_rsi(data, window=14):
    delta = data.diff(1)
    gain = delta.where(delta > 0, 0)
    loss = -delta.where(delta < 0, 0)

    avg_gain = gain.rolling(window=window, min_periods=1).mean()
    avg_loss = loss.rolling(window=window, min_periods=1).mean()

    rs = avg_gain / avg_loss
    rsi = 100 - (100 / (1 + rs))
    
    return rsi

In [66]:
# Calculate the relative strength index (RSI) as another feature

data["RSI"] = calculate_rsi(data["Close"], window=14)

# Create a target variable indicating whether the next day's price will increase or decrease
data["Next_Day_Price_Up"] = (data["Close"].shift(-1) > data["Close"]).astype(int)

# Display the cleaned and preprocessed data
data

,Open,High,Low,Close,Adj Close,Volume,Daily_Return,MA_10,MA_50,RSI,Next_Day_Price_Up
Date,,,,,,,,,,,
2022-01-03,145.054993,145.850998,143.712997,144.991501,144.991501,28646000,NaN,NaN,NaN,NaN,0
2022-01-04,145.395996,146.485001,143.716507,144.399506,144.399506,28400000,-0.004083,NaN,NaN,0.000000,0
2022-01-05,144.419998,144.499496,137.688004,137.774994,137.774994,54618000,-0.045876,NaN,NaN,0.000000,0
2022-01-06,136.998505,139.940002,136.558502,137.747498,137.747498,37348000,-0.000200,NaN,NaN,0.000000,0
2022-01-07,138.145493,138.448502,135.766495,137.016998,137.016998,29760000,-0.005303,NaN,NaN,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,87.110001,89.550003,87.070000,89.230003,89.230003,23003000,0.016750,90.916000,94.872000,25.676308,0
2022-12-27,88.800003,88.940002,87.010002,87.389999,87.389999,20097300,-0.020621,90.324001,94.688600,26.506600,0
2022-12-28,86.980003,88.040001,85.940002,86.019997,86.019997,19523200,-0.015677,89.363000,94.409600,27.406265,1
2022-12-29,86.620003,88.849998,86.610001,88.449997,88.449997,23333500,0.028249,88.701000,94.163200,37.440297,0
2022-12-30,86.980003,88.300003,86.570000,88.230003,88.230003,23986300,-0.002487,88.438000,93.935201,38.658776,0

In [67]:
### Some of feature are calculate from pervious consists NA, so drop those rows before spliting
data.dropna(subset=["MA_10", "MA_50"], inplace=True)
data

,Open,High,Low,Close,Adj Close,Volume,Daily_Return,MA_10,MA_50,RSI,Next_Day_Price_Up
Date,,,,,,,,,,,
2022-03-15,126.975998,129.854507,125.720497,129.197998,129.197998,30920000,0.025780,130.472950,135.111500,52.304938,1
2022-03-16,130.733002,133.332993,128.734497,133.280502,133.280502,35576000,0.031599,130.343850,134.877280,50.869364,1
2022-03-17,133.149002,134.080505,132.184998,133.839005,133.839005,28264000,0.004190,130.337800,134.666070,49.051067,1
2022-03-18,133.424500,136.244003,132.258499,136.125504,136.125504,44566000,0.017084,130.759701,134.633080,51.553791,0
2022-03-21,136.163498,137.050003,134.092499,136.101501,136.101501,26832000,-0.000176,131.732001,134.600160,53.052807,1
...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,87.110001,89.550003,87.070000,89.230003,89.230003,23003000,0.016750,90.916000,94.872000,25.676308,0
2022-12-27,88.800003,88.940002,87.010002,87.389999,87.389999,20097300,-0.020621,90.324001,94.688600,26.506600,0
2022-12-28,86.980003,88.040001,85.940002,86.019997,86.019997,19523200,-0.015677,89.363000,94.409600,27.406265,1
2022-12-29,86.620003,88.849998,86.610001,88.449997,88.449997,23333500,0.028249,88.701000,94.163200,37.440297,0
2022-12-30,86.980003,88.300003,86.570000,88.230003,88.230003,23986300,-0.002487,88.438000,93.935201,38.658776,0

In [68]:
# # Calculate the 10-day average trading volume
# data["Average_Volume_10"] = data["Volume"].rolling(window=10).mean()

# # Drop rows with NaN values after calculating the new feature
# data.dropna(subset=["Average_Volume_10"], inplace=True)
# data

In [69]:
## Data Splitting: 
## Split  dataset into training and testing sets

# Define the features (X) and the target variable (y)
X = data.drop(columns=["Next_Day_Price_Up"])  # Features excluding the target
y = data["Next_Day_Price_Up"]  # Target variable

# Split the data into training (80%) and testing (20%) sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [70]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

### Random forest model

In [71]:
from sklearn.ensemble import RandomForestClassifier

# Create a Random Forest classifier
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the Random Forest model on the training data
rf_model.fit(X_train, y_train)

# Predict on the test set
rf_y_pred = rf_model.predict(X_test)

# Calculate evaluation metrics for Random Forest model
rf_accuracy = accuracy_score(y_test, rf_y_pred)
rf_precision = precision_score(y_test, rf_y_pred)
rf_recall = recall_score(y_test, rf_y_pred)
rf_f1 = f1_score(y_test, rf_y_pred)
rf_roc_auc = roc_auc_score(y_test, rf_y_pred)

# Print the evaluation metrics for Random Forest model
print("Random Forest Model Evaluation:")
print("Accuracy:", rf_accuracy)
print("Precision:", rf_precision)
print("Recall:", rf_recall)
print("F1 Score:", rf_f1)
print("ROC-AUC Score:", rf_roc_auc)

Random Forest Model Evaluation:
Accuracy: 0.4634146341463415
Precision: 0.3888888888888889
Recall: 0.3888888888888889
F1 Score: 0.3888888888888889
ROC-AUC Score: 0.4553140096618358

### Decision tree classfier

In [72]:
from sklearn.tree import DecisionTreeClassifier

# Create a Decision Tree classifier
model = DecisionTreeClassifier(random_state=42)

# Train the model on the training data
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Calculate evaluation metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)
roc_auc = roc_auc_score(y_test, y_pred)

# Print the evaluation metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)
print("ROC-AUC Score:", roc_auc)

Accuracy: 0.5609756097560976
Precision: 0.5
Recall: 0.5555555555555556
F1 Score: 0.5263157894736842
ROC-AUC Score: 0.5603864734299517